################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.ipynb_checkpoints
/.vs
horse-or-human.zip
validation-horse-or-human.zip
.vscode/settings.json
